web/bundles/
web/css/
web/js/
web/images/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/cache
app/logs
build/
/vendor
bin
composer.phar
app/config/parameters.yml
*~
.idea
.vagrant
app/Resources/certs/
deployment/vagrant/.vagrant*